<script>
const SpinnerBlock = ({ data, $style = {}, listeners }) => (
  <div
    {...{
      class: [
        $style.spinner,
        data.class,
      ],
      style: data.staticStyle,
      key: data.key,
      attrs: data.attrs,
      on: listeners,
    }}
  >
    <div
      {...data}
      class={$style.spinnerCircle}
    />
  </div>
);

export default SpinnerBlock;
</script>

<style lang="scss" module>
@import '@/theme/variables.scss';

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;

  &Circle {
    display: block;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;

    &::before,
    &::after {
      border-radius: 50%;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
    }

    &::before {
      animation: ball1 1s infinite;
      background-color: $color-primary;
      box-shadow: 30px 0 0 $color-secondary;
      margin-bottom: 10px;
    }

    &::after {
      animation: ball2 1s infinite;
      background-color: $color-secondary;
      box-shadow: 30px 0 0 $color-primary;
    }
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg) scale(0.8) }
  50% { transform: rotate(360deg) scale(1.2) }
  100% { transform: rotate(720deg) scale(0.8) }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 $color-secondary;
  }
  50% {
    box-shadow: 0 0 0 $color-secondary;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 $color-secondary;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 $color-primary;
  }
  50% {
    box-shadow: 0 0 0 $color-primary;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 $color-primary;
    margin-top: 0;
  }
}

</style>
