<script>
import Inline from './Inline';
import Block from './Block';

const PROPS = {
  inline: {
    type: Boolean,
    default: false,
  },
};

const Spinner = ({ props, data }) => {
  const Component = props.inline ? Inline : Block;
  return (
    <Component {...data} />
  );
};

Spinner.props = PROPS;

export default Spinner;
</script>
