<script>
const SpinnerInline = ({ data, $style }) => (
  <span
    {...data}
    class={$style.spinner}
  />
);

export default SpinnerInline;
</script>

<style lang="scss" module>
@import '@/theme/variables.scss';

.spinner {
  width: .8rem;
  height: .8rem;
  border: .175rem solid;
  border-color: $color-white $color-primary;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation .6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
