<script>
import { isMobile } from '@/helpers/is-mobile';

import Mobile from './Mobile';
import Desktop from './Desktop';

import { PROPS } from './constants';

const Select = ({ data, props, listeners }) => {
  const componentParams = {
    ...data,
    props,
    on: listeners,
  };
  const Component = isMobile() ? Mobile : Desktop;

  return (
    <Component {...componentParams} />
  );
};

Select.props = PROPS;
export default Select;
</script>

<style lang="scss" src="./index.scss"></style>
