@use 'sass:math';
@import '@/theme/variables.scss';

.app-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;

  &_fullwidth {
    width: 100%;
  }

  &__select {
    align-items: center;
    appearance: none;
    background-color: $color-white;
    border: $select-border;
    border-radius: $select-border-radius;
    box-shadow: $select-box-shadow;
    box-sizing: border-box;
    display: inline-flex;
    height: $select-height;
    overflow-x: hidden;
    padding: $select-padding;
    text-overflow: ellipsis;
    transition:
      border-color $transition-speed,
      box-shadow $transition-speed;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:focus {
      border-color: $select-border-color_focus;
      box-shadow: $select-box-shadow_focus;
      outline: $select-outline;
    }

    &_placeholder {
      color: $select-placeholder-color;
    }

    &_fullwidth {
      width: 100%;
    }

    &_error {
      border-color: $select-border-color-error;

      &:focus {
        box-shadow: $select-box-shadow_focus-error;
      }
    }
  }

  &__options {
    margin: $select-options-margin;
    max-height: $select-options-max-height;
    min-width: 100%;
    overflow-y: auto;
  }

  &__option {
    background-color: $color-white;
    box-sizing: border-box;
    padding: math.div($base-indent, 2) $base-indent;
    transition: $select-option-transition;
    white-space: $select-option-white-space;

    &_focused,
    &:hover:not(&_selected) {
      background-color: $select-option-bg-color_focus;
      color: $select-option-color_focus;
      cursor: pointer;
    }

    &_selected {
      background-color: $select-option-bg-color_selected;
      color: $select-option-color_selected;
      cursor: default;
    }
  }

  &__arrow {
    color: $select-arrow-color;
    font-size: $select-arrow-height;
    pointer-events: none;
    position: absolute;
    right: $base-indent + 2px;
    top: #{math.div($select-height, 2) - math.div($select-arrow-height, 2)};
    transform: $select-arrow-transform;
    transition: $select-arrow-transition;

    &_active {
      color: $select-arrow-color_active;
      transform: $select-arrow-transform_active;
    }
  }
}
