<script>
import IconChevronDown from '@/components/icons/ChevronDown';
import emit from '@/helpers/emit';

import { PROPS, mainCssClass } from './constants';

const SelectMobile = ({ data, props, listeners }) => {
  const options = props.options
    .map(({ value, label }) => (
      <option
        key={value}
        value={value}
      >
        {label}
      </option>
    ));

  if (props.placeholder) {
    const isRequired = props.required;
    const placeholderText = (props.resetText && props.value && !isRequired)
      ? props.resetText
      : props.placeholder;

    options.unshift(
      <option
        key="placeholder"
        value=""
        disabled={isRequired}
      >
        {placeholderText}
      </option>
    );
  }

  return (
    <div
      class={[
        mainCssClass,
        { [`${mainCssClass}_fullwidth`]: props.fullwidth },
      ]}
    >
      <select
        {...{
          class: [
            `${mainCssClass}__select`,
            {
              [`${mainCssClass}__select_placeholder`]: !props.value,
              [`${mainCssClass}__select_fullwidth`]: props.fullwidth,
              [`${mainCssClass}__select_error`]: props.error,
            },
            data.class,
          ],
          domProps: {
            value: props.value,
          },
          attrs: {
            required: props.required,
            ...data.attrs,
          },
          on: {
            ...listeners,
            input: (e) => emit(listeners, 'input', e.target.value),
          },
        }}
      >
        {options}
      </select>
      <span class={`${mainCssClass}__arrow`}>
        <IconChevronDown />
      </span>
    </div>
  );
};

SelectMobile.name = 'SelectMobile';
SelectMobile.props = PROPS;

export default SelectMobile;
</script>
