@import "variables";

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($color-black, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@import './bootstrap/bootstrap-grid.scss';

.nowrap {
  flex-wrap: nowrap;
}
