@use "sass:math";

// Colors
$color-white: #FFFFFF !default;
$color-black: #333333 !default;

$color-gray-light: #8f8f8f !default;
$color-gray-lightest: #cccccc !default;
$color-gray-text: #bdbdbd !default;

$color-primary: #22BBAA !default;
$color-primary-light: lighten($color: $color-primary, $amount: 25%) !default;
$color-accent: #181b1e !default;
$color-secondary: #3366C3 !default;
// $color-accent: #FF872E !default;

$color-red: #FF0000 !default;

$color-shadow: rgba(#000000, .2) !default;
$color-shadow-dark: rgba($color-white, .2) !default;

// Base
$base-indent: 8px !default;
$transition-speed: .3s !default;
$text-color: $color-black !default;


// Dropdown
$dropdown-bg-color: $color-white !default;
$dropdown-border-color: $color-black !default;
$dropdown-border: 1px solid $dropdown-border-color !default;
$dropdown-shadow: 0 2px 5px $color-shadow !default;
$dropdown-transition: opacity .25s ease, transform .3s ease !default;
$dropdown-padding: math.div($base-indent, 2) $base-indent !default;
//dark theme
$dropdown-bg-dark: $color-accent !default;
$dropdown-border-dark: $color-gray-lightest;
$dropdown-shadow-dark: 0 2px 5px $color-shadow-dark !default;

// Navbar
$nav-bg: $color-white !default;
$nav-text-color: $color-black !default;
$nav-shadow: 0 2px 0 rgba($color-black, .3) !default;
$nav-height: 50px !default;

// SELECT
$select-arrow-color: $color-gray-light !default;
$select-arrow-color_active: $text-color !default;
$select-arrow-height: 10px !default;
$select-arrow-transform: rotate(0deg) !default;
$select-arrow-transform_active: rotateX(180deg) translateY(2px) !default;
$select-arrow-transition: transform .2s, color .2s !default;
$select-arrow-width: 11px !default;
$select-border-height: 1px !default;
$select-border-color: $color-gray-light !default;
$select-border-color-error: $color-red !default;
$select-border-color_focus: $color-primary !default;
$select-border-radius: 0 !default;
$select-border: $select-border-height solid $select-border-color !default;
$select-box-shadow: 0 0 0 transparent !default;
$select-box-shadow_focus: 0 0 2px rgba($color-primary, .3) !default;
$select-box-shadow_focus-error: 0 0 2px rgba($color-red, .3) !default;
$select-height: 34px !default;
$select-option-bg-color_focus: $color-primary-light !default;
$select-option-bg-color_selected: $color-primary !default;
$select-option-color_focus: $color-white !default;
$select-option-color_selected: $color-white !default;
$select-option-transition: color $transition-speed, background-color $transition-speed !default;
$select-option-white-space: nowrap !default;
$select-options-margin: math.div(-$base-indent, 2) (-$base-indent) !default;
$select-options-max-height: 260px !default;
$select-outline: unset !default;
$select-padding: 0 (2 * $base-indent + $select-arrow-width) 0 $base-indent !default;
$select-padding_center: 0 (2 * $base-indent + $select-arrow-width) 0 (2 * $base-indent + $select-arrow-width) !default;
$select-padding_right: 0 $base-indent 0 (2 * $base-indent + $select-arrow-width) !default;
$select-placeholder-color: $color-gray-light !default;
