<script>
export default {
  functional: true,
  inheritAttrs: false,
  render(h, { data, listeners, children, $style = {} }) {
    return h(
      'button',
      {
        attrs: {
          type: 'button',
          ...data.attrs,
        },
        class: [
          $style.appButton,
          data.class,
        ],
        key: data.key,
        on: listeners,
        style: data.style,
      },
      children
    );
  },
};
</script>

<style lang="scss" module>
@use 'sass:math';
@import '@/theme/variables.scss';

.appButton {
  background: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  padding: $base-indent $base-indent * 2;
}
</style>
