<script>
const Navbar = ({ $style = {}, scopedSlots }) => (
    <header class={$style.header}>
      <div class="container">
        <div class="row nowrap">
          {scopedSlots.left && (
            <div class="col">
              <div class={$style.headerLeft}>
                {scopedSlots.left()}
              </div>
            </div>
          )}
          {scopedSlots.right && (
            <div class="col-auto">
              {scopedSlots.right()}
            </div>
          )}
        </div>
      </div>
    </header>
);
Navbar.name = 'AppNavbar';

export default Navbar;
</script>

<style lang="scss" module>
@import "@/theme/variables.scss";

.header {
  height: $nav-height;
  padding: $base-indent 0;
  position: sticky;
  top: 0;
  width: 100%;
  background: $nav-bg;
  box-shadow: $nav-shadow;
  color: $nav-text-color;
  z-index: 1;

  & + main {
    margin-top: $base-indent * 2;
  }

  &Left {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
</style>
