<script>
const AppWrapper = ({ data, slots }) => {
  const sSlots = slots();
  return (
    <div {...data}>
      {sSlots.navbar}
      <main class="container">
        {sSlots.default}
      </main>
    </div>
  );
};

export default AppWrapper;
</script>
