<script>
const PROPS = {
  fullwidth: {
    type: Boolean,
    default: false,
  },
  dark: {
    type: Boolean,
    default: false,
  },
};

const Dropdown = ({ props, data, children }) => (
  <Transition
    name="dropdown"
    appear
  >
    <div
      {...{
        ...data,
        class: [
          'dropdown',
          {
            dropdown_fullwidth: props.fullwidth,
            dropdown_dark: props.dark,
          },
          data.class,
        ],
      }}
    >
      {children}
    </div>
  </Transition>
);

Dropdown.props = PROPS;

export default Dropdown;
</script>

<style lang="scss">
@use "sass:math";

@import '@/theme/variables.scss';

.dropdown {
  background-color: $dropdown-bg-color;
  border: $dropdown-border-color;
  box-shadow: $dropdown-shadow;
  box-sizing: border-box;
  left: 0;
  margin-top: math.div($base-indent, 2);
  overflow-y: auto;
  padding: $dropdown-padding;
  position: absolute;
  top: 100%;
  transform: translateY(0);
  transition: $dropdown-transition;
  user-select: none;
  z-index: 1;

  &_fullwidth {
    width: 100%;
  }

  &_dark {
    background: $dropdown-bg-dark;
    border-color: $dropdown-border-dark;
    box-shadow: $dropdown-shadow-dark;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translateY(-10%);
  }
}
</style>
