<script>
const NoAccessAvailable = () => (
  <div>
    <h2>No API keys found!</h2>
    <p>
      Please create token for <a
        href="https://rapidapi.com/wirefreethought/api/geodb-cities"
        target="_blank"
        rel="noreferrer noopener"
      >GeoDB Cities API</a> & <a
        href="https://openweathermap.org/price"
        target="_blank"
        rel="noreferrer noopener"
      >OpenWeather API</a>.
      <br />
      Then put it in <code>.env</code> file with names <code>VUE_APP_TOKEN</code> & <code>VUE_APP_GEODB_TOKEN</code>.
    </p>
  </div>
);

export default NoAccessAvailable;
</script>
