<script>
import VScrollbar from 'vue-scrollable-container2';

import TransitionFade from '@/components/TransitionFade';

export default {
  name: 'Tabs',
  props: {
    tabs: {
      type: Array,
      required: true,
      validator: (tabs) => new Set(tabs).size === tabs.length,
    },
    selected: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      current: '',
    };
  },
  methods: {
    handleClick(ev) {
      ev.preventDefault();
      const { value } = ev.target.dataset;

      if (!value) {
        console.error('No value provided!');
        return;
      }

      this.current = value;
      this.$emit('change', value);
    },
  },
  created() {
    this.current = this.selected || this.tabs[0];
  },
  render() {
    const { $style = {}, current, $scopedSlots } = this;

    return (
      <div class={$style.tabs_wrapper}>
        <VScrollbar>
          <div class={$style.tabs}>
            {this.tabs.map(tabName => (
              <button
                key={tabName}
                class={[
                  $style.tabs_tab,
                  { [$style.tabs_tab_active]: tabName === current },
                ]}
                type="button"
                data-value={tabName}
                disabled={tabName === current}
                onClick={this.handleClick}
              >
                {tabName}
              </button>
            ))}
          </div>
        </VScrollbar>
        <TransitionFade>
          <div key={current} class={$style.tabs_content}>
            {$scopedSlots.default && $scopedSlots.default()}
          </div>
        </TransitionFade>
      </div>
    );
  },
};
</script>

<style lang="scss" module>

.tabs {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #dee2e6;
  white-space: nowrap;

  &_tab {
    background: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid transparent;
    display: block;
    margin-bottom: -1px;
    padding: .5rem 1rem;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 0;
    }

    &_active {
      background-color: #ffffff;
      border-color: #dee2e6 #dee2e6 #ffffff;
      color: #495057;
      cursor: default;
    }
  }

  &_wrapper {
    position: relative;
  }

  &_content {
    padding-top: 15px;
  }
}
</style>
