<script>
const PROPS = {
  mode: {
    type: String,
    default: 'out-in',
  },
};

const TransitionFade = ({ props, children }) => (
  <transition
    name="fade"
    mode={props.mode}
  >
    {children}
  </transition>
);

TransitionFade.name = 'TransitionFade';
TransitionFade.props = PROPS;

export default TransitionFade;
</script>

<style lang="scss">
.fade {
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: opacity .35s;
  }
}
</style>
