<script>
import Spinner from '@/components/Spinner';

const PROPS = {
  isFetching: {
    type: Boolean,
    default: false,
  },
  inline: {
    type: Boolean,
    default: false,
  },
};

const WithSpinner = ({ props, children }) => {
  if (props.isFetching) {
    return (
      <Spinner inline={props.inline} />
    );
  }
  return children;
};

WithSpinner.props = PROPS;
WithSpinner.name = 'WithSpinner';

export default WithSpinner;
</script>
