<script>
import env from '@/env';

const WithAccess = ({ slots }) => {
  const sSlots = slots();
  const tokenExist = Boolean(env.TOKEN) && Boolean(env.GEODB_TOKEN);
  return (
    <div class={{ container: !tokenExist }}>
      {tokenExist ? sSlots.default : sSlots.fallback}
    </div>
  );
};

export default WithAccess;
</script>
