@use 'sass:math';
@import '@/theme/variables.scss';

$input-height: #{$select-height - $select-border-height * 2};

.searchSelect {
  position: relative;

  &__main {
    border-radius: 0;
    border: $select-border;
    cursor: text;
    display: flex;

    :global(.open) & {
      border-color: $select-border-color_focus;
      box-shadow: $select-box-shadow_focus;
      outline: unset;
    }

    :global(.dark) & {
      color: $color-gray-text;
      border-color: $color-gray-text;
    }

    &:global(.error) {
      border-color: $select-border-color-error;
    }
  }

  &__combobox {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
  }

  &__selected {
    align-items: center;
    align-self: center;
    border-radius: 4px;
    color: $color-black;
    display: flex;
    height: $input-height;
    padding: 5px 10px;
    transition: opacity .25s;
    background-color: transparent;
    border: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    :global(.open) & {
      position: absolute;
      opacity: .4;
    }

    :global(.searching) & {
      display: none;
    }
  }

  &__input {
    appearance: none;
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    display: inline-block;
    flex-grow: 1;
    height: $input-height;
    max-width: 100%;
    outline: none;
    padding: 0 0 0 10px;
    text-overflow: ellipsis;
    width: 0;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration,
    &::-ms-clear {
      display: none;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 6px 0 3px;
  }

  &__clear {
    background-color: transparent;
    border: 0;
    color: $color-black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-right: 6px;
    padding: 0;
  }

  &__openIndicator {
    align-self: center;
    color: $select-arrow-color;
    cursor: pointer;
    display: inline-flex;
    font-size: 10px;
    opacity: 1;
    pointer-events: all;
    transition: transform .5s, color .3s;

    :global(.open) & {
      color: $select-arrow-color_active;
      transform: rotateX(-180deg);
    }
  }

  &__options {
    margin: -#{math.div($base-indent, 2)} -#{math.div($base-indent, 1)};
    max-height: $select-options-max-height;
    min-width: 100%;
    overflow-y: auto;
  }

  &__option {
    clear: both;
    color: $color-black;
    background: transparent;
    border: none;
    display: block;
    width: 100%;
    padding: 5px 10px;
    white-space: normal;
    text-align: left;

    &:global(.focused),
    &:hover,
    &:focus {
      background: $select-option-bg-color_focus;
      color: $select-option-color_focus;
    }

    &:global(.selected),
    &:active {
      background: $select-option-bg-color_selected;
      color: $select-option-color_selected;
      cursor: pointer;
    }

    &:global(.selected) {
      pointer-events: none;
    }

    &:global(.empty) {
      cursor: default;
      pointer-events: none;
      text-align: center;
      width: auto;
    }
  }
}
