<script>
import dayjs from '@/utils/dayjs';

import { d3Position, baseProps } from './helpers';

const PROPS = {
  ...baseProps,
  data: {
    type: Array,
    required: true,
  },
  height: {
    type: Number,
    required: true,
  },
};

const format = d => dayjs(d).format('HH:mm');

const AxisLeft = ({ props }) => {
  const { height, scale, strokeColor, data } = props;
  const position = d3Position(scale.copy());
  const range = scale.range();
  const range0 = +range[0];
  const range1 = +range[range.length - 1];

  return (
    <g
      fill="none"
      text-anchor="middle"
      transform={`translate(0,${height})`}
    >
      <path
        stroke={strokeColor}
        stroke-width="1"
        d={`M${range0},12V0H${range1}V12`}
      />
      {data.map(({ date: tick }) => (
        <g
          key={tick}
          transform={`translate(${position(tick)},0)`}
        >
          <line
            stroke="#AAA"
            y2={-height - 12}
            transform="translate(0, 12)"
            stroke-width="1"
          />
          <text
            fill="currentColor"
            y="20"
            dy="0.7em"
          >
            {format(tick)}
          </text>
        </g>
      ))}
    </g>
  );
};

AxisLeft.name = 'AxisLeft';
AxisLeft.props = PROPS;

export default AxisLeft;
</script>
