<script>
import { d3Position, baseProps } from './helpers';

const PROPS = {
  ...baseProps,
  width: {
    type: Number,
    required: true,
  },
  units: {
    type: Object,
    required: true,
  },
};

const AxisLeft = ({ props }) => {
  const { width, units, scale, strokeColor } = props;
  const position = d3Position(scale.copy());
  const ticks = scale.ticks.apply(scale);
  const range = scale.range();
  const range1 = +range[range.length - 1];

  return (
    <g
      fill="none"
      text-anchor="end"
    >
      <path
        stroke={strokeColor}
        stroke-width="1"
        d={`M${width},0H0V${range1}H${width}`}
      />
      {ticks.map(tick => (
        <g
          key={tick}
          transform={`translate(0,${position(tick)})`}
        >
          <line
            stroke={strokeColor}
            x2={width}
            stroke-width="1"
          />
          <text fill="currentColor" x="-10" dy="0.4em">
            {`${tick} ${units.temperature}`}
          </text>
        </g>
      ))}
    </g>
  );
};

AxisLeft.name = 'AxisLeft';
AxisLeft.props = PROPS;

export default AxisLeft;
</script>
