<script>
import { scaleTime, scaleLinear, scaleOrdinal } from 'd3-scale';
import { extent, min, max, bisector } from 'd3-array';
import { pointer } from 'd3-selection';

import { UNITS_VALUES } from '@/router/Main/constants';

import AxisLeft from './AxisLeft';
import AxisBottom from './AxisBottom';
import LineLegend from './LineLegend';
import VisualizeData from './VisualizeData';

import { pointCoordinates, tooltipTemplate } from './helpers';

const labels = {
  feels: 'Feels Like',
  temp: 'Temperature',
};

const colorPalette = [
  '#e41a1c',
  '#377eb8',
];

export default {
  name: 'LineChart',
  props: {
    data: {
      required: true,
      type: Array,
    },
    width: {
      default: 1000,
      type: Number,
    },
    height: {
      default: 600,
      type: Number,
    },
    margin: {
      type: Object,
      default: () => ({
        top: 20, right: 30, bottom: 100, left: 70,
      }),
    },
    units: {
      type: String,
      default: 'metric',
    },
    strokeColor: {
      type: String,
      default: '#aaaaaa',
    },
  },
  data() {
    return {
      tooltipStyles: {},
      aspectRatio: null,
      optimizedResizeTimer: null,
      mousemoveTimer: null,
    };
  },
  computed: {
    rangeWidth() {
      const { left = 0, right = 0 } = this.margin;
      return this.width - left - right;
    },
    rangeHeight() {
      const { top = 0, bottom = 0 } = this.margin;
      return this.height - top - bottom;
    },
    scale() {
      const { data } = this;

      const x = scaleTime()
        .domain(extent(data, d => d.date))
        .rangeRound([0, this.rangeWidth]);

      const yVals = data.reduce((acc, cur) => {
        acc.push(Math.round(cur.feels_like));
        acc.push(Math.round(cur.temp));
        return acc;
      }, []);

      const y = scaleLinear()
        .domain([
          max(yVals, d => d + 1),
          min(yVals, d => d - 1),
        ])
        .rangeRound([0, this.rangeHeight]);

      return { x, y };
    },
    colors() {
      return scaleOrdinal()
        .domain(this.groupedData)
        .range(colorPalette);
    },
    groupedData() {
      const { data } = this;

      const feelsLike = [];
      const temperature = [];

      for (let i = 0; i < data.length; i += 1) {
        const temp = data[i];
        temperature.push({
          x: temp.date,
          y: temp.temp,
        });
        feelsLike.push({
          x: temp.date,
          y: temp.feels_like,
        });
      }

      const map = new Map();
      map.set(labels.temp, temperature);
      map.set(labels.feels, feelsLike);

      return map;
    },
    unitsMap() {
      return UNITS_VALUES[this.units];
    },
    topLegendPosition() {
      return this.rangeHeight + (this.margin.bottom / 1.5);
    },

    bisect() {
      return bisector(d => d.date).left;
    },
  },
  methods: {
    handleMouseOver() {
      this.tooltipStyles = {
        opacity: 1,
      };
    },

    handleMouseMove(ev) {
      if (this.mousemoveTimer) {
        window.cancelAnimationFrame(this.mousemoveTimer);
      }
      this.mousemoveTimer = window.requestAnimationFrame(() => {
        this.optimizedMouseMove(ev);
      });
    },
    optimizedMouseMove(ev) {
      const { data, aspectRatio, margin } = this;

      // recover point
      const x0 = Number(this.scale.x.invert(pointer(ev, ev.target)[0]));
      const index = this.bisect(data, x0, 1);
      const point = data.length > 1 ? data[index - 1] : data[0];

      // recover coordinates
      const { cx, cy } = pointCoordinates(point, this.scale);
      const top = Math.round((cy + margin.top) * aspectRatio);
      const left = Math.round((cx + margin.left) * aspectRatio);
      const translateY = aspectRatio > 0.8 ? '10px' : 0;

      this.tooltipStyles = {
        ...this.tooltipStyles,
        top: `${top}px`,
        left: `${left}px`,
        transform: `translate(-50%,${translateY}) scale(${aspectRatio > 1 ? 1 : aspectRatio})`,
      };

      this.$refs.tooltip.innerHTML = tooltipTemplate(point, this.unitsMap);
    },
    handleMouseOut() {
      if (this.mousemoveTimer) {
        window.cancelAnimationFrame(this.mousemoveTimer);
      }
      this.$set(this.tooltipStyles, 'opacity', 0);
    },

    setAspectRatio() {
      if (this.optimizedResizeTimer) {
        window.cancelAnimationFrame(this.optimizedResizeTimer);
      }
      this.optimizedResizeTimer = window.requestAnimationFrame(() => {
        this.aspectRatio = this.$el.clientWidth / this.width;
      });
    },
  },
  mounted() {
    this.setAspectRatio();
    window.addEventListener('resize', this.setAspectRatio);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.setAspectRatio);
  },
  render() {
    const { margin, $style = {}, scale } = this;
    return (
      <div class={$style.chart}>
        <svg viewBox={`0 0 ${this.width} ${this.height}`}>
          <g
            transform={`translate(${margin.left},${margin.top})`}
            font-size="16"
            font-family="sans-serif"
          >
            <AxisLeft
              scale={scale.y}
              width={this.width}
              units={this.unitsMap}
              strokeColor={this.strokeColor}
            />
            <AxisBottom
              scale={scale.x}
              height={this.rangeHeight}
              data={this.data}
              strokeColor={this.strokeColor}
            />
            <LineLegend
              class="legend"
              text-anchor="start"
              transform={`translate(0,${this.topLegendPosition})`}
              groups={Array.from(this.groupedData.keys())}
              colors={this.colors}
            />

            <VisualizeData
              scale={scale}
              data={Array.from(this.groupedData.entries())}
              colors={this.colors}
            />

            <rect
              fill="none"
              pointer-events="all"
              width={this.rangeWidth + margin.left}
              height={this.rangeHeight}
              onMouseover={this.handleMouseOver}
              onMousemove={this.handleMouseMove}
              onMouseout={this.handleMouseOut}
            />
          </g>
        </svg>
        <div
          ref="tooltip"
          class={$style.tooltip}
          style={this.tooltipStyles}
        />
      </div>
    );
  },
};
</script>

<style lang="scss" module>
@import '@/theme/variables.scss';

.chart {
  position: relative;

  > svg {
    overflow: hidden;
  }
}

.tooltip {
  background: $color-white;
  border-radius: .25rem;
  border: solid 1px $color-gray-light;
  opacity: 0;
  padding: .5rem 1rem;
  position: absolute;
  pointer-events: none;
  transition: opacity, top, left .3s ease-in-out;
  z-index: 1;
  width: 210px;
}
</style>
