<script>

const PROPS = {
  colors: {
    type: Function,
    required: true,
  },
  groups: {
    type: Array,
    required: true,
  },
};

const LineLegend = ({ props, data }) => {
  const { colors, groups } = props;

  return (
    <g {...data}>
      {groups.map((group, index) => (
        <g key={group}>
          <circle
            fill={colors(group)}
            r="6"
            cx={index * 200}
            cy="0"
          />
          <text
            x={index * 200 + 10}
            y="0"
            dy="0.4em"
          >
            {group}
          </text>
        </g>
      ))}
    </g>
  );
};

LineLegend.name = 'LineLegend';
LineLegend.props = PROPS;

export default LineLegend;
</script>
