<script>
import { pointCoordinates, drawLine } from './helpers';

const PROPS = {
  data: {
    type: Array,
    required: true,
  },
  colors: {
    type: Function,
    required: true,
  },
  scale: {
    type: Object,
    required: true,
  },
};

const VisualizeData = ({ props }) => {
  const { data, colors, scale } = props;
  return (
    <g>
      {data.map(([key, points]) => {
        const color = colors(key);
        return (
          <g key={key}>
            <path
              d={drawLine(points, scale)}
              stroke-width="2"
              fill="none"
              stroke={color}
            />
            {points.map((point, index) => {
              const { cx, cy } = pointCoordinates(point, scale);
              return (
                <circle
                  key={`${key}-${index}`}
                  fill={color}
                  stroke="none"
                  r="4"
                  cx={cx}
                  cy={cy}
                />
              );
            })}
          </g>
        );
      })}
    </g>
  );
};

VisualizeData.name = 'VisualizeData';
VisualizeData.props = PROPS;

export default VisualizeData;
</script>
