<script>
import { getStorageItem, setStorageItem } from '@/utils/localStorage';
import dayjs from '@/utils/dayjs';
import debounce from '@/utils/debounce';

import WithSpinner from '@/components/WithSpinner';
import AjaxSelect from '@/components/SelectAjax';
import Select from '@/components/Select';
import AppWrapper from '@/components/AppWrapper';
import AppNavbar from '@/components/AppNavbar';

import History from './components/History';
import Card from './components/Card';
import FewDaysDetails from './components/FewDaysDetails';

import service from './service';
import { UNITS_OPTIONS, UNITS } from './constants';

export default {
  name: 'Main',
  data() {
    return {
      isFetching: false,
      result: {},
      fewDaysResult: [],

      params: {
        lat: 0,
        lon: 0,
        units: UNITS.metric,
      },
      selectedCityId: null,

      searchHistory: {},
      citiesOptions: [],
    };
  },
  methods: {
    async fetch() {
      this.isFetching = true;
      try {
        await Promise.all([
          this.getCurrentWeather(),
          this.getHourlyWeather(),
        ]);
      } catch (err) {
        console.log(err);
      }
      this.isFetching = false;
    },
    async getCurrentWeather() {
      try {
        this.result = await service.getLocationWeather(this.params);
      } catch (err) {
        console.error(err);
      }
    },
    async getHourlyWeather() {
      try {
        const { list } = await service.getHourlyLocationWeather(this.params);
        this.fewDaysResult = list.map(item => ({
          date: Number(dayjs.unix(item.dt)),
          ...item,
        }));
      } catch (err) {
        console.error(err);
      }
    },
    successPosition({ coords }) {
      const { latitude: lat, longitude: lon } = coords;
      this.params = {
        ...this.params,
        lat,
        lon,
      };
      this.fetch();
    },
    // eslint-disable-next-line
    handleSearchCity: debounce(async function (value, searching) {
      searching(true);
      try {
        const { data } = await service.searchCity({
          namePrefix: value,
          limit: 10,
          offset: 0,
        });
        // eslint-disable-next-line
        this.citiesOptions = data.map(({ name, region, country, latitude: lat, longitude: lon, id }) => ({
          label: `${name}, ${region}, ${country}`,
          value: String(id),
          coords: {
            lat,
            lon,
          },
        }));
      } catch (err) {
        console.error(err);
      }
      searching(false);
    }, 1000),
    setCity({ coords, value }) {
      this.params = {
        ...this.params,
        ...coords,
      };
      this.selectedCityId = value;
    },
    handleInputCity(option) {
      if (!option) {
        return;
      }
      this.searchHistory = {
        ...this.searchHistory,
        [option.value]: option,
      };
      setStorageItem('history', this.searchHistory);
      this.handleChangeCity(option);
    },
    handleChangeCity(option) {
      this.setCity(option);
      this.fetch();
    },
    handleUnitInput(units) {
      this.params = {
        ...this.params,
        units,
      };
      setStorageItem('units', units);
      this.fetch();
    },
  },
  created() {
    const items = getStorageItem('history');
    const units = getStorageItem('units');
    if (items) {
      this.searchHistory = items;
    }
    if (units) {
      this.params.units = units;
    }

    navigator.geolocation.getCurrentPosition(this.successPosition);
  },
  render() {
    const { $style } = this;
    return (
      <AppWrapper>
        <AppNavbar slot="navbar">
          <AjaxSelect
            class={$style.ajax}
            value={this.selectedCityId}
            options={this.citiesOptions}
            minLength="3"
            placeholder="Find city"
            onSearch={this.handleSearchCity}
            onInput={this.handleInputCity}
            slot="left"
          />
          <Select
            value={this.params.units}
            options={UNITS_OPTIONS}
            onInput={this.handleUnitInput}
            slot="left"
          />
          <History
            value={this.selectedCityId}
            options={this.searchHistory}
            onChange={this.handleChangeCity}
            slot="right"
          />
        </AppNavbar>

        <WithSpinner isFetching={this.isFetching}>
          <Card
            weatherData={this.result}
            units={this.params.units}
            class={$style.card}
          />
          <FewDaysDetails
            weatherData={this.fewDaysResult}
            units={this.params.units}
          />
        </WithSpinner>
      </AppWrapper>
    );
  },
};
</script>

<style lang="scss" module>
@import '@/theme/variables.scss';

.ajax {
  flex-grow: 1;
  margin-right: $base-indent * 2;
}

.card {
  margin-bottom: 1.5rem;
}
</style>
