<script>
import dayjs from '@/utils/dayjs';

import IconNavigation from '@/components/icons/Navigation';

import { UNITS_VALUES } from '../constants';

const PROPS = {
  weatherData: {
    type: Object,
    required: true,
  },
  units: {
    type: String,
    default: 'metrics',
  },
  minimal: {
    type: Boolean,
    default: false,
  },
};

const roundDegrees = (deg) => {
  const roundedPart = Math.round(deg / 45);
  return roundedPart * 45;
};

const formatTime = date => date && dayjs.unix(date).format('HH:mm');

const WeatherCard = ({ props, data, $style = {} }) => {
  const { weatherData = {}, units, minimal } = props;

  if (!Object.keys(weatherData).length) {
    return null;
  }

  const unitsMap = UNITS_VALUES[units];
  const { weather = {}, main = {}, wind = {} } = weatherData;

  return (
    <div {...data}>
      {weatherData.name && (
        <div class={$style.title}>
          {weatherData.name}
        </div>
      )}
      {(weatherData.dt && minimal) && (
        <div class={$style.title}>
          {formatTime(weatherData.dt)}
        </div>
      )}
      {(Array.isArray(weather) && weather.length > 0)
        && weather.map((item, index) => (
          <div
            key={index}
            class={$style.subtitle}
          >
            {String(item.description || '').toUpperCase()}
          </div>
        ))}
      <div class={$style.temperature}>
        {`Temperature: ${main.temp} ${unitsMap.temperature}`}
      </div>
      <div class={$style.temperature}>
        {`Feels like: ${main.feels_like} ${unitsMap.temperature}`}
      </div>
      {!minimal && ([
        <div
          key="minimal"
          class={$style.temperature}
        >
          {`Minimal: ${main.temp_min} ${unitsMap.temperature}`}
        </div>,
        <div
          key="maximal"
          class={$style.temperature}
        >
          {`Maximal: ${main.temp_max} ${unitsMap.temperature}`}
        </div>,
        <div
          key="humidity"
          class={$style.temperature}
        >
          {`Humidity: ${main.humidity}%`}
        </div>,
        <div
          key="pressure"
          class={$style.temperature}
        >
          {`Pressure: ${main.pressure}hPa`}
        </div>,
        <div
          key="wind"
          class={$style.temperature}
        >
          Wind:
          <IconNavigation
            style={{
              transform: `rotate(${roundDegrees(wind.deg)}deg)`,
            }}
          />
          {` ${wind.speed} ${unitsMap.windSpeed}`}
        </div>,
      ])}
    </div>
  );
};

WeatherCard.name = 'WeatherCard';
WeatherCard.props = PROPS;

export default WeatherCard;
</script>

<style lang="scss" module>
.title {
  font-size: 1.375rem;
  font-weight: 800;
  margin-bottom: .875rem;
}

.temperature {
  margin-top: .5rem;
}
</style>
