<script>
import dayjs from '@/utils/dayjs';

import Tabs from '@/components/Tabs';

import LineChart from './LineChart/index';

export default {
  name: 'FewDaysWeather',
  props: {
    weatherData: {
      type: Array,
      required: true,
    },
    units: {
      type: String,
      default: 'metric',
    },
  },
  data() {
    const weatherDataAsObject = this.weatherData.reduce((acc, cur) => {
      const day = dayjs(cur.date).startOf('day').format('DD MMM');
      if (!acc[day]) {
        acc[day] = [cur];
      } else {
        acc[day].push(cur);
      }
      return acc;
    }, {});
    const dates = Object.keys(weatherDataAsObject).map(date => date);

    return {
      tabs: dates,
      current: dates[0],
      weatherDataAsObject,
    };
  },
  computed: {
    chartData() {
      return this.weatherDataAsObject[this.current].map(({ date, main }) => ({
        date,
        ...main,
      })) || [];
    },
  },
  methods: {
    handleCurrentChange(tab) {
      this.current = tab;
    },
  },
  render() {
    if (!this.current || !this.tabs.length) {
      return null;
    }

    return (
      <Tabs
        tabs={this.tabs}
        selected={this.current}
        onChange={this.handleCurrentChange}
      >
        <LineChart
          data={this.chartData}
          units={this.units}
        />
      </Tabs>
    );
  },
};
</script>
