<script>
import VScrollbar from 'vue-scrollable-container2';

import AppButton from '@/components/AppButton';
import Dropdown from '@/components/Dropdown';
import IconHistory from '@/components/icons/History';

import clickOutside from '@/mixins/click-outside';

export default {
  name: 'HistoryList',
  mixins: [clickOutside],
  onClickOutside() {
    this.isOpen = false;
  },
  props: {
    options: {
      type: Object,
      default: () => ({}),
    },
    value: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    optionsAsArray() {
      return Object.values(this.options);
    },
  },
  methods: {
    handleClick() {
      this.isOpen = !this.isOpen;
    },
    handleClose() {
      this.isOpen = false;
    },
    handleOptionClick(option) {
      return () => {
        this.handleClose();
        this.$emit('change', option);
      };
    },
  },
  render() {
    const { $style = {}, optionsAsArray } = this;

    return (
      <div class={$style.wrapper}>
        <AppButton
          class={$style.toggler}
          onClick={this.handleClick}
        >
          <IconHistory />
        </AppButton>
        {this.isOpen && (
          <Dropdown class={$style.dropdown}>
            <VScrollbar class={$style.scrollbar}>
              {optionsAsArray.length > 0 ? (
                optionsAsArray.map((option) => (
                  <AppButton
                    class={[
                      $style.button,
                      { active: option.value === this.value },
                    ]}
                    key={option.value}
                    disabled={option.value === this.value}
                    onClick={this.handleOptionClick(option)}
                  >
                    {option.label}
                  </AppButton>
                ))) : (
                <div class={[
                  $style.button,
                  $style.button_empty,
                ]}>
                  Select some city before
                </div>
              )}
            </VScrollbar>
          </Dropdown>
        )}
      </div>
    );
  },
};
</script>

<style lang="scss" module>
@use 'sass:math';
@import '@/theme/include.scss';

.wrapper {
  display: flex;
  height: 100%;
}

.toggler {
  align-self: center;
  font-size: 1.375rem;
  line-height: 1rem;
  padding: 0;
}

.dropdown {
  max-width: 300px;
  min-width: 200px;
  right: 0;
  left: unset;
  padding: 0;
}

.scrollbar {
  max-height: $select-options-max-height;
}

.button {
  margin: 0 ;
  text-align: left;
  width: 100%;

  & + & {
    border-top: solid 1px $color-gray-light;
  }

  &_empty {
    pointer-events: none;
    padding: $base-indent $base-indent * 2;
  }

  @include hover-focus () {
    background: $color-primary-light;
    cursor: pointer;
    outline: 0;
  }

  @include active () {
    color: $color-white;
    background: $color-primary;
  }
}
</style>
