<script>
import { iconAttributes } from '@/utils/icons';

const Icon = (context) => (
  <svg {...iconAttributes(context, { width: 24, height: 24 })}>
    <path d="M0 0h24v24H0z" fill="none" />
    <path d="M12 2L4.5 20.29l.71.71L12 18l6.79 3 .71-.71z" />
  </svg>
);

Icon.name = 'IconNavigation';

export default Icon;
</script>
