<script>
import WithAccess from '@/components/WithAccess';
import NoAccessAvailable from '@/components/NoAccessAvailable';

export default {
  name: 'App',
  render() {
    return (
      <WithAccess>
        <router-view />
        <NoAccessAvailable slot="fallback" />
      </WithAccess>
    );
  },
};
</script>
